services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: comicdb
      MYSQL_USER: comicuser
      MYSQL_PASSWORD: comicpass
    volumes:
      - ./mysql/mysql_data:/var/lib/mysql
      - ./mysql/init/seed/SeedData.sql:/docker-entrypoint-initdb.d/seed/SeedData.sql
      - ./mysql/init/01-wait-for-it.sh:/docker-entrypoint-initdb.d/01-wait-for-it.sh
      - ./mysql/init/02-create-schema.sql:/docker-entrypoint-initdb.d/02-create-schema.sql
      - ./mysql/init/03-seed-data.sh:/docker-entrypoint-initdb.d/03-seed-data.sh
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  comic-api-dod:
    build:
      context: .
      dockerfile: ComicApiDod/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ConnectionStrings__DefaultConnection=Server=mysql;Port=3306;Database=comicdb;User=comicuser;Password=comicpass;
    ports:
      - "8081:8080"
    depends_on:
      mysql:
        condition: service_healthy
    volumes:   
      - ./ComicApiDod:/app/ComicApiDodSrc

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - comic-api-dod
  
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    ports:
      - "9100:9100"
#    networks:
#      - monitoring
      
  grafana:
    image: grafana/grafana:latest
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge